.filter-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.filter-btn {
  border: 1px solid #000;
  background: transparent;
  color: #000;
  padding: 8px 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 500;
  width: fit-content;
}

.filter-btn a{
  color: #000;
}

.filter-btn:hover,
.filter-btn.active {
  background: transparent;
  color: #f9004d;
  border: 1px solid #f9004d;
}

.rn-portfolio {
  transition: all 0.4s ease;
}


   .portfolio-item {
  transition:  transform 0.4s ease;
  /* opacity: 1; */
  display: block;
}

.portfolio-item.hide {
  /* opacity: 0; */
  display: none;
  transform: scale(0.95);
  pointer-events: none;
} 
